<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="NataRestPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.helmo.al.natarest.entity.Bird</class>
    <class>com.helmo.al.natarest.entity.Comment</class>
    <class>com.helmo.al.natarest.entity.Forum</class>
    <class>com.helmo.al.natarest.entity.Media</class>
    <class>com.helmo.al.natarest.entity.MediaTypeDB</class>
    <class>com.helmo.al.natarest.entity.Note</class>
    <class>com.helmo.al.natarest.entity.ObservationBird</class>
    <class>com.helmo.al.natarest.entity.Observation</class>
    <class>com.helmo.al.natarest.entity.Role</class>
    <class>com.helmo.al.natarest.entity.Session</class>
    <class>com.helmo.al.natarest.entity.Tag</class>
    <class>com.helmo.al.natarest.entity.User</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://192.168.128.13:3306/in15b1169?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="in15b1169"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="2165"/>
    </properties>
  </persistence-unit>
</persistence>
